body {
    margin: 0;
    padding: 0;
    background-color: #a7d4fd;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 70%;
    height: 650px;
    background-color: #ffffffd8;
    border-radius: 12px;
    display: flex;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.left-panel {
    width: 60%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px 0 0 12px;
}

.left-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-panel {
    width: 40%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}

.google-btn {
    width: 280px;
    padding: 14px;
    background-color: #112638;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.google-btn img {
    width: 24px;
    height: 24px;
}

.google-btn:hover {
    background-color: #0c1d2b;
}
